name: Back-end GitHub actions workflow for the resume challenge
 
# The workflow should only trigger on push events to the main branch
on:
  push:
    branches:
      - main
env:
  # Setting an environment variable with the value of a configuration variable
  env_region: ${{ vars.REGION }}

# Required to get the ID Token that will be used for OIDC
permissions:
  id-token: write
 
jobs:
  deploy-lambda-code:    
    runs-on: ubuntu-latest
    environment: Test
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Get Python 3.9 version
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"    
      
      - name: Install required libraries
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        shell: bash

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ vars.REGION }}
          role-to-assume: ${{ secrets.TEST_DEPLOY_ROLE }}
          role-session-name: OIDCSession
        
      - name: Running Unit Tests for Lambda handler
        run: |
          export TABLE_NAME=${{ vars.TABLE_NAME }} 
          python3 -m unittest test_lambda_handler > unit_test.log
          allPassed=$?
          if [ $allPassed -ne 0 ]; then
              echo "Unit test error. Please investigate logs"
              exit 1
          fi
          exit $allPassed
          shell: bash

      - name: Pack Lambda and load to S3 S3Bucket
        run: |
          zip $LAMBDA_FUNCTION.zip lambda_function.py
          aws s3 cp $LAMBDA_FUNCTION.zip ${{ vars.S3_LAMBDA_SOURCE_BUCKET }}/$LAMBDA_FUNCTION.zip
          shell: bash
        env: 
          LAMBDA_FUNCTION: ${{ vars.LAMBDA_NAME }}  
     